In [1]:
import graphlab

In [4]:
people = graphlab.SFrame('people_wiki.gl/')

In [5]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [7]:
people['tfidf'] = graphlab.text_analytics.tf_idf(people['text'])

In [8]:
people

Columns:
	URI	str
	name	str
	text	str
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |             tfidf             |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 3.8365785530... |
| alfred j lewy aka sandy le... | {'precise': 6.443200606955... |
| harpdog brown is a singer ... | {'just': 2.700729968710864... |
| franz rottensteiner born i... | {'all': 1.6431112434912472... |
| henry krvits born 30 decem... | {'they': 1.899340117819389... |
| sam henderson born october... | {'currently': 1.6370889691... |
| aaron lacrate is an americ... | {'exclusive': 10.455187230... |
| trevor ferguson aka john f... | {'taxi': 6.052021456094502... |
| grant nelson born 27 april... | {'houston': 3.935505942157... |
| cathy caruth born 1955 is ... | {'phenomenon': 5.750053426... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [9]:
elton = people[people['name'] == 'Elton John']

In [10]:
elton

Columns:
	URI	str
	name	str
	text	str
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'all': 1.6431112434912472... |
+-------------------------------+
[? rows x 4 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [11]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [12]:
people['tfidf'] = graphlab.text_analytics.tf_idf(people['word_count'])

In [13]:
people

Columns:
	URI	str
	name	str
	text	str
	tfidf	dict
	word_count	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |             tfidf             |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 3.8365785530... |
| alfred j lewy aka sandy le... | {'precise': 6.443200606955... |
| harpdog brown is a singer ... | {'just': 2.700729968710864... |
| franz rottensteiner born i... | {'all': 1.6431112434912472... |
| henry krvits born 30 decem... | {'they': 1.899340117819389... |
| sam henderson born october... | {'currently': 1.6370889691... |
| aaron lacrate is an americ... | {'exclusive': 10.455187230... |
| trevor ferguson aka john f... | {'taxi': 6.052021456094502... |
| grant nelson born 27 april... | {'houston': 3.935505942157... |
| cathy caruth born 1955 is ... | {'phenomenon': 5.750053426... |
+-------------------------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'selection': 1, 'carltons... |
| {'precise': 1, 'thomas': 1... |
| {'just': 1, 'issued': 1, '... |
| {'all': 1, 'bauforschung':... |
| {'they': 1, 'gangstergenka... |
| {'currently': 1, 'less': 1... |
| {'exclusive': 2, 'producer... |
| {'taxi': 1, 'salon': 1, 'g... |
| {'houston': 1, 'frankie': ... |
| {'phenomenon': 1, 'deboras... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [14]:
elton['word_count'] = graphlab.text_analytics.count_words(elton['text'])

In [15]:
elton

Columns:
	URI	str
	name	str
	text	str
	tfidf	dict
	word_count	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|             tfidf             |           word_count          |
+-------------------------------+-------------------------------+
| {'all': 1.6431112434912472... | {'all': 1, 'least': 1, 'pr... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [26]:
elton[['word_count']].stack('word_count', new_column_name=['words', 'count']).sort('count',ascending=False)

Columns:
	words	str
	count	int

Rows: 255

Data:
+-------+-------+
| words | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|  john |   7   |
|   he  |   7   |
|   on  |   6   |
| award |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [20]:
elton[['tfidf']].stack('tfidf', new_column_name=['words', 'tfidf']).sort('tfidf',ascending = False)

Columns:
	words	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|     words     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
| tonightcandle | 10.9864953892 |
|  overallelton | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [21]:
victoria = people[people['name'] == 'Victoria Beckham']

In [22]:
victoria

Columns:
	URI	str
	name	str
	text	str
	tfidf	dict
	word_count	dict

Rows: Unknown

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |             tfidf             |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'millionin': 7.7283988512... |
+-------------------------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'millionin': 1, 'saying':... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [23]:
victoria[['tfidf']].stack('tfidf', new_column_name=['words', 'tfidf']).sort('tfidf',ascending = False)

Columns:
	words	str
	tfidf	float

Rows: 175

Data:
+--------------+---------------+
|    words     |     tfidf     |
+--------------+---------------+
|   beckham    | 56.9223550265 |
|   fashion    | 21.1652873531 |
|    spice     | 19.9280699021 |
|   victoria   | 15.7663610884 |
|   designer   | 15.6191472125 |
| chartbeckham | 10.9864953892 |
| lowerpriced  | 10.9864953892 |
|    label     | 9.90513433711 |
|   clamour    | 9.88788310056 |
|   topmodel   | 9.60020102811 |
+--------------+---------------+
[175 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [24]:
graphlab.distances.cosine(elton['tfidf'][0], victoria['tfidf'][0])

0.9567006376655429

In [27]:
paul = people[people['name'] == 'Paul McCartney']

In [28]:
paul

Columns:
	URI	str
	name	str
	text	str
	tfidf	dict
	word_count	dict

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Paul McCartney |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |             tfidf             |
+-------------------------------+-------------------------------+
| sir james paul mccartney m... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'all': 1, 'gold': 1, 'ove... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [29]:
graphlab.distances.cosine(elton['tfidf'][0], paul['tfidf'][0])

0.8250310029221779

In [34]:
knn_model_word = graphlab.nearest_neighbors.create(people, features = ['word_count'], label = 'name',distance='cosine')

Starting brute force nearest neighbors model training.

In [33]:
knn_model_tfidf = graphlab.nearest_neighbors.create(people, features = ['tfidf'], label = 'name',distance='cosine')

Starting brute force nearest neighbors model training.

In [35]:
knn_model_word.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 14.115ms     |

| Done         |         | 100         | 371.164ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [37]:
knn_model_tfidf.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 18.678ms     |

| Done         |         | 100         | 402.751ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [38]:
knn_model_word.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 14.72ms      |

| Done         |         | 100         | 326.53ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [39]:
knn_model_tfidf.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 18.505ms     |

| Done         |         | 100         | 382.956ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]